* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100px; }

body {
  font-size: 16px; }

@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont.woff); }

@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont1.woff); }

@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont2.woff); }

@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont3.woff); }

.icon-font {
  font-family: "iconfont" !important; }

.icon-xiafan:before {
  content: "\e65b"; }

.icon-sousuo:before {
  content: "\e651"; }

.icon-shouye:before {
  content: "\e64f"; }

.icon-lajixiang:before {
  content: "\e645"; }

.icon-cuowu:before {
  content: "\e641"; }

.icon-gouwuche:before {
  content: "\e63f"; }

.icon-shezhi:before {
  content: "\e64b"; }

.icon-iconfontxingxing:before {
  content: "\e628"; }

.icon-leimu:before {
  content: "\e78e"; }

.icon-caidan:before {
  content: "\e790"; }

.icon-zantongfill:before {
  content: "\e793"; }

.icon-zantong:before {
  content: "\e794"; }

.icon-sale:before {
  content: "\e78b"; }

.icon-gengduo:before {
  content: "\e73a"; }

.icon-jiahao2fill:before {
  content: "\e728"; }

.icon-roundaddlight:before {
  content: "\e7a7"; }

.icon-add:before {
  content: "\e767"; }

.icon-deletefill:before {
  content: "\e6a6"; }

.icon-delete:before {
  content: "\e6b4"; }

.icon-close:before {
  content: "\e646"; }

.icon-xitongfanhui:before {
  content: "\e6b6"; }

.icon-pifu:before {
  content: "\e650"; }

.icon-xiugai:before {
  content: "\e6d6"; }

@media screen and (max-width: 1080px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 38.33333px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 38.14815px; } }

@media screen and (max-width: 380px) {
  html {
    font-size: 35.18519px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 34.72222px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 33.33333px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 29.62963px; } }

.box .header {
  height: 1.02rem;
  box-sizing: border-box; }
  .box .header .header-content {
    height: 1.02rem;
    padding: 0 0.41rem;
    background: pink;
    position: relative; }
    .box .header .header-content.huaipifu {
      background: aqua; }
    .box .header .header-content .meau {
      position: absolute;
      width: 0.51rem;
      height: 0.51rem;
      font-size: 0.51rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      float: left; }
    .box .header .header-content .all {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 1.9rem;
      height: 0.51rem;
      float: left;
      margin-left: 1.06rem;
      line-height: 0.51rem;
      font-size: 0.43rem; }
    .box .header .header-content .pifu {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      margin-left: 7.96rem;
      width: 0.48rem;
      height: 0.54rem;
      font-size: 0.54rem; }
    .box .header .header-content .sousuo {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0.42rem;
      width: 0.62rem;
      height: 0.55rem;
      font-size: 0.55rem; }

.box .list {
  position: relative;
  overflow-y: auto; }
  .box .list .list-item {
    position: relative;
    width: 100%;
    height: 1.57rem;
    border-bottom: 1px solid #c7c9c8;
    box-sizing: border-box;
    padding: 0.6rem 0.42rem 0.6rem 0.45rem;
    font-size: 0.37rem;
    overflow: hidden; }
    .box .list .list-item .todo {
      height: 0.37rem;
      font-size: 0.37rem;
      position: relative;
      top: 0;
      bottom: 0;
      margin: auto 0; }
      .box .list .list-item .todo::after {
        display: none;
        content: '';
        width: 80%;
        height: 1px;
        background: #eee;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
    .box .list .list-item .close {
      display: none;
      width: 0.42rem;
      height: 0.42rem;
      position: absolute;
      font-size: 0.53rem;
      line-height: 0.42rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0.42rem; }
  .box .list .done .todo {
    color: #eee; }
  .box .list .done .todo::after {
    display: block; }
  .box .list .done .close {
    display: block; }

.box .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 1.25rem;
  background: pink; }
  .box .footer.huaipifu {
    background: aqua; }
  .box .footer .add {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.56rem;
    height: 0.63rem;
    font-size: 0.63rem; }

@keyframes donghua {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-60%, 0, 0); } }

.active {
  animation: donghua .8s ease both; }

@keyframes shanchu {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(100%, 0, 0); } }

.ac {
  animation: shanchu .8s ease both; }

.add-box {
  display: none; }
  .add-box .add-header {
    height: 1.02rem;
    box-sizing: border-box; }
    .add-box .add-header .header-content {
      height: 1.02rem;
      padding: 0  0.41rem;
      background: pink;
      position: relative; }
      .add-box .add-header .header-content.huaipifu {
        background: aqua; }
      .add-box .add-header .header-content .fanhui {
        position: absolute;
        width: 0.51rem;
        height: 0.51rem;
        font-size: 0.51rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        float: left; }
      .add-box .add-header .header-content .all {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 1.9rem;
        height: 0.51rem;
        float: left;
        margin-left: 1.06rem;
        line-height: 0.51rem;
        font-size: 0.43rem; }
  .add-box textarea {
    width: 100%;
    outline: medium;
    font-size: 0.37rem;
    border: 0;
    resize: none; }
  .add-box .add-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 1.25rem;
    background: pink; }
    .add-box .add-footer.huaipifu {
      background: aqua; }
    .add-box .add-footer .delete {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      float: left;
      width: 0.56rem;
      height: 0.63rem;
      font-size: 0.63rem; }
  .add-box .mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); }
    .add-box .mask .mask-box {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 3.14rem;
      background: #fff; }
      .add-box .mask .mask-box .queding {
        width: 100%;
        height: 1.57rem;
        line-height: 1.57rem;
        text-align: center;
        color: red;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box; }
      .add-box .mask .mask-box .quxiao {
        width: 100%;
        height: 1.57rem;
        line-height: 1.57rem;
        text-align: center; }

.xiugai-box {
  display: none; }
  .xiugai-box .add-header {
    height: 1.02rem;
    box-sizing: border-box; }
    .xiugai-box .add-header .header-content {
      height: 1.02rem;
      padding: 0  0.41rem;
      background: pink;
      position: relative; }
      .xiugai-box .add-header .header-content.huaipifu {
        background: aqua; }
      .xiugai-box .add-header .header-content .xiugai {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0.51rem;
        height: 0.51rem;
        font-size: 0.50rem; }
      .xiugai-box .add-header .header-content .all {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 1.9rem;
        height: 0.51rem;
        float: left;
        margin-left: 1.06rem;
        line-height: 0.51rem;
        font-size: 0.43rem; }
  .xiugai-box textarea {
    width: 100%;
    outline: medium;
    font-size: 0.37rem;
    border: 0;
    resize: none; }
